#secMensagem {
    display: FLEX;
    justify-content: CENTER;
    flex-direction: column;
    align-items: CENTER;
    text-align: CENTER;
    margin-top: 10vw;
    height: 60vh;
    background-color: black;
}

#secMensagem h1 {
    
    font-size: 2.4VW;
    color: white;
    font-weight: 500;
}
#secMensagem h2 { 
    font-size: 1.1vw;
    color: white;
    font-weight: 400;
}
.btnsSecMensagem {
    display: FLEX;
    gap: 1vw;
    margin-top: 2vw;
}

.btnSecMensagem {
background-color: black;
color: white;
}